#body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: aquamarine;
}

#chooseRace{
    background-color: aliceblue;
    margin: 5mm auto;
}

.race {
    border:white 2px solid;
    background-color: navajowhite;
}
