    #body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: aquamarine;
        padding:0px;
    }
    #alert {    
       background-color: cadetblue;
       margin: 0 auto;
       padding: 20px; 
       position: absolute;
       z-index: 10;
       visibility: hidden;
       width:auto;
    }

    #characterProgress {
        width: 100%;
        height: 50px;
        margin: 0px;
        padding: 0px;
    }

    #raceCreation {
        position:absolute;
        margin: 0px;
        padding: 0px;
        width: inherit;
        top: 50px;
        background-color: teal;
    }

    #raceInfo {
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 100%;
        background-color: lawngreen;
        overflow: scroll;
        scrollbar-3dlight-color:aqua;
       
    }

    #raceInfo p {
        margin: 0px;
        padding: 0px;
        background-color: orangered;
    }

    #raceSelection {
        background-color: aliceblue;
        margin: 0px;
        padding: 0px;
        width: inherit;
      
    }

#proficienciesCreation {
    visibility: hidden;
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: inherit;
    top: 50px;
    background-color: teal;
}
       
    #classCreation {
        visibility:hidden;
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: inherit;
        top: 50px;
        background-color: teal;
    }


    #classSelection {
        background-color: aliceblue;
        margin: 0px;
        padding: 0px;
        width: inherit;
    }

    #classInfo {
        position: relative;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 100%;
        background-color: lawngreen;
    }

    #classInfo p {
        margin: 0px;
        padding: 0px;
        background-color: orangered;
    }

    #abilityScoresCreation {
        visibility:hidden;
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: inherit;
        top: 50px;
        background-color: teal;
    }

    #abilityScoreSelection {
        background-color: aliceblue;
        margin: 0px;
        padding: 0px;
        width: inherit;
        
    }

    #abilityScoreInfo {
        position: relative;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 100%;
        z-index:0;
        background-color: lawngreen;
    }


    

    #chooseRace {
        position:absolute;
        background-color: aliceblue;
        margin: 0px auto;
        padding: 0px;
    }

    #chooseRace :hover {
        background-color: aquamarine;
    }

    #chooseClass {
        background-color: aliceblue;
        margin: 0px auto;
        padding: 0px;
    }

    #chooseClass :hover {
        background-color: aquamarine;
    }

.selection {
    border: solid 1px black;
    background-color: navajowhite;
    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    /*  max-width: 60px;*/
    margin: 0px;
    padding: 0px;
    font: bolder 18px bookman;
}
    /*
    .characterRace p {
        margin: 0px;
        padding: 0px;
    }

    .characterClass p {
        margin: 0px;
        padding: 0px;
    }*/


    .chooseNewRace {
        border: black 1px solid;
        margin: 0px auto;
    }