#body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: aquamarine;
    padding:1mm;
}

#chooseRace{
    background-color: aliceblue;
    margin: 3mm auto;
    padding: 3mm 0mm;
}

#raceInfo {
    position: absolute;
    margin: 30mm auto;
    padding:0mm;
    visibility: hidden;
    height: auto;
    z-index: 2;
    background-color: burlywood;
}

#raceInfo p {
    margin: 5px;
    padding: 0px;
}

#chooseRace {

}

.race {
    border: black 2px solid;
    background-color: navajowhite;
    min-height: 45mm;
    max-height: 45mm;
    min-width: 30mm;
    max-width: 30mm;
    margin: 1mm;
    padding: 0mm;
}

.race p {
    margin: 0mm;
    padding: 0mm;

}

 
